@using Bordfodbold_System.Controllers
@using Bordfodbold_System.Entities
@model dynamic
@{
    ViewBag.Title = "Home Page";
    if (Session["userID"] == null)
    {
        // If the user isn't logged in, throw him/her out!
        Response.Redirect("~/Login/Login");
    }
}


<!-- Table left side of page, used to show previous games -->
<div id="playerTable" style="overflow-y: scroll; height:87.5vh;">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="scope">Status</th>
                <th scope="col" class="scope">ID</th>
                <th scope="col" class="scope">Mål</th>
                <th scope="col" class="scope">M-ID</th>
                <th scope="col" class="scope">Spiller 1</th>
                <th scope="col" class="scope">Spiller 2</th>
                <th scope="col" class="scope">Dato</th>
            </tr>
        </thead>
        <tbody style="overflow-y:auto; max-height:800px !important;">
            @foreach (var game in Model.Players)
            {
                if (game.team1goals > game.team2goals && game.team1goals != game.team2goals)
                {
                    <tr class="tr_won">
                        <td id="td_won">WON</td>
                        <td>@game.team1_id</td>
                        <td>@game.team1goals</td>
                        <td>@game.team2_id</td>
                        <td>@game.player_one_name</td>
                        <td>@game.player_two_name</td>
                        <td>@game.date</td>
                    </tr>
                }
                else if (game.team1goals < game.team2goals && game.team1goals != game.team2goals)
                {
                    <tr class="tr_lost">
                        <td id="td_lost">LOST</td>
                        <td>@game.team1_id</td>
                        <td>@game.team1goals</td>
                        <td>@game.team2_id</td>
                        <td>@game.player_one_name</td>
                        <td>@game.player_two_name</td>
                        <td>@game.date</td>
                    </tr>
                }


                if (game.team2goals > game.team1goals && game.team1goals != game.team2goals)
                {
                    <tr class="tr_won">
                        <td id="td_won">WON</td>
                        <td>@game.team2_id</td>
                        <td>@game.team2goals</td>
                        <td>@game.team1_id</td>
                        <td>@game.player_thr_name</td>
                        <td>@game.player_fou_name</td>
                        <td>@game.date</td>
                    </tr>
                }
                else if (game.team2goals < game.team1goals && game.team1goals != game.team2goals)
                {
                    <tr class="tr_lost">
                        <td id="td_lost">LOST</td>
                        <td>@game.team2_id</td>
                        <td>@game.team2goals</td>
                        <td>@game.team1_id</td>
                        <td>@game.player_thr_name</td>
                        <td>@game.player_fou_name</td>
                        <td>@game.date</td>
                    </tr>
                }

                if (game.team1goals == game.team2goals)
                {
                    <tr class="tr_tied">
                        <td id="td_tied">TIED</td>
                        <td>@game.team1_id</td>
                        <td>@game.team1goals</td>
                        <td>@game.team2_id</td>
                        <td>@game.player_one_name</td>
                        <td>@game.player_two_name</td>
                        <td>@game.date</td>
                    </tr>
                    <tr class="tr_tied">
                        <td id="td_tied">TIED</td>
                        <td>@game.team2_id</td>
                        <td>@game.team2goals</td>
                        <td>@game.team1_id</td>
                        <td>@game.player_thr_name</td>
                        <td>@game.player_fou_name</td>
                        <td>@game.date</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


<div class="createNew">
    @if (Session["userID"] != null)
    {
        // userID must first be set!
        // if the userID is equal to 1, then the user is Admin!
        if (int.Parse(Session["userID"].ToString()) == 1)
        {
            // Get the "New User" partial view!
            //<partial name="~/Views/Home/NewUser.cshtml" />
            <a href="@Url.Action("NewUser","Home")"><button type="button" id="AdminButton" class="btn btn-primary">NEW USER</button></a>
            <a href="@Url.Action("EditUser","Home")"><button type="button" id="AdminButton" class="btn btn-primary">EDIT USER</button></a>
        }
        else
        {
            // The user is NOT admin, get the New Game view!
            //<partial name="~/Views/Home/NewGame.cshtml" />
            <a href="@Url.Action("NewGame","Home")"><button type="button" class="btn btn-success" style="background-color: #a7b303;">NEW GAME</button></a>
        }
    }
</div>

<!-- Table bottom right for searching a specific player's info-->
<div class="searchTabel">
    @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "Index" }))
    {
        <tr>
            <th>
                @Html.TextBox("search_player_information", "", new { placeholder = "Søg spiller..." })
            </th>
            <th>
                <button type="submit" class="btn btn-primary" id="search_player_information_button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </th>
        </tr>

    }

    <div id="playerInfoTable">
        <table class="table">
            <tbody>
                @foreach (var a in Model.Search)
                {
                    <tr>
                        <td class="player_info">Vundet</td>
                        <td class="player_info_colon">:</td>
                        <td class="player_value">@a.winCount</td>
                    </tr>
                    <tr>
                        <td class="player_info">Tabt</td>
                        <td class="player_info_colon">:</td>
                        <td class="player_value">@a.lossCount</td>
                    </tr>
                    <tr>
                        <td class="player_info">Sejrs ratio</td>
                        <td class="player_info_colon">:</td>
                        @if(a.lossCount > 0 && a.winCount == 0){
                        <td class="player_value">0</td>
                        } else if(a.lossCount == 0 && a.winCount > 0) {
                        <td class="player_value">@(a.winCount)</td>
                        } else
                        {
                        <td class="player_value">@((a.winCount*1.0/a.lossCount*1.0).ToString("0.##"))</td>
                        }

                    </tr>
                    <tr>
                        <td class="player_info">Mål</td>
                        <td class="player_info_colon">:</td>
                        <td class="player_value">@a.goalCount</td>
                    </tr>
                    <tr>
                        <td class="player_info">Kampe</td>
                        <td class="player_info_colon">:</td>
                        <td class="player_value">@(a.lossCount+a.winCount)</td>
                    </tr>
                    <tr>
                        <td class="player_info">Mål / kamp</td>
                        <td class="player_info_colon">:</td>
                        <td class="player_value">@((a.goalCount * 1.0 / (a.winCount+a.lossCount) * 1.0).ToString("0.##"))</td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>



